@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
$fnt: 'Open Sans', sans-serif;

// Colours
$c1: #2F2F2F;
$c2: #FFCF9C;
$c3: #EADEDA;

$blk: #313131;

// ingredient colours
$espresso: #4A2C18;
$milkfoam: #D2A486;
$whippedcream: #E8C9B4;
$steamedmilk: #DBD1CB;
$steamedhalfandhalf: rgb(231, 222, 216);
$chocolatesyrup: #88512C;